!!!
%html
  %head
    %title= "#{@title && (@title + ' - ')}Social Wagering"
    = stylesheet_link_tag
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      %section#content
        - if @header
          %h1= @header
        = yield
      %footer
        %a{:href=>root_path} Home
        %a{:href=>rules_path} Rules
        %a{:href=>terms_path} Terms
        %a{:href=>bets_path} Bets
